[user]
	name = Tomonobu Higashikawa
	email = higashikawa.tomonobu@gmail.com
[github]
	user = h17u
	token = 72fc839ae18a45af11f66adf0fc2127f
[color]
	ui = true
[alias]
[core]
	excludesfile = /Users/tommy/.gitignore_global
[alias]
	stash-unapply = !git stash show -p | git apply -R
	hist = log --pretty=format:\"%h %C(yellow)%ad%C(reset) %s%C(red)%d%C(reset) %C(blue)[%an]%C(reset)\" --graph --date=relative
	# hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	co = checkout
	ci = commit
	st = status
	br = branch
	type = cat-file -t
	dump = cat-file -p
[core]
	autocrlf = input
	excludesfile = /Users/tommy/.gitignore_global
	pager = less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "gvimdiff3"]
	cmd = gvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
	tool = vimdiff3
[pager]
	diff = 
[diff]
	tool = vimdiff
	external = git_diff_wrapper
[difftool]
	prompt = false
[rebase]
	autosquash = true
[help]
	autocorrect = 1
