#Ignore all files
/*
/*.
bin/seagull
.ssh/known_hosts

#Git below:
!/.zshrc
!/.zprofile
!/.vimrc
!/.secret_vimrc
!/.vimperatorrc
!/.tmux.conf
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.ssh
!/bin
!/.ctags
!/.vim
!/.tigrc
!/.muttrc
!/.dircolors
