" Key Mappings: "{{{
" Easy escape."{{{
inoremap jj           <ESC>
cnoremap <expr> j       getcmdline()[getcmdpos()-2] ==# 'j' ? "\<BS>\<C-c>" : 'j'
onoremap jj           <ESC>

inoremap j<Space>     j
onoremap j<Space>     j
"}}}
"}}}

